.homePartner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: var(--customBg);
}

.homePartnerHead-container {
  width: 100%;
  text-align: center;
}
.homePartnerHead-container > h2 {
  font-size: 36px;
  font-weight: bold;
}

.homePartnersCard {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.homePartnersCardContent {
  /* border: solid blue; */
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
  padding: 20px;
}
.homePartnersCardContent > div {
  width: 100%;
}
.homePartnersCardItem {
  /* border: solid green; */
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-left: 20%;
}
.homePartnersCardItem > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .homePartnersCardContent {
    /* border: solid blue; */
    width: 100%;
  }
  .homePartnersCardItem {
    /* border: solid green; */
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-left: 25%;
  }
}
