/* -----------------------------------ContentReadmore--------------------------- */

.contentHead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
}
.contentHead-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--customBg);
  border-radius: 20px;
  padding: 20px;
}
.contentHead > p {
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  text-align: justify;
  color: black;
}
.contentHead > p > a {
  text-decoration: none;
  color: var(--customColor1);
  font-weight: bold;
}
.contentHead-content {
  width: 100%;
  padding: 20px;
  background-color: var(--customBg1);
}
.contentHead-content > h1 {
  color: var(--customColor1);
  text-align: center;
  font-size: 40px; /* Responsive font size */
  font-weight: bold;
}
.contentHead-content > h2 {
  font-size: 36px; /* Responsive font size */
  color: var(--customColor1);
  text-align: start;
  font-weight: normal;
  margin-bottom: 10px;
}
.contentHead-content > p {
  text-align: justify;
  color: black;
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
}
.contentHead-content > h3 {
  text-align: start;
  font-size: 25px;
  color: var(--customColor1);
  margin-top: 30px;
  font-weight: normal;
}
.contentHead-content > ul {
  margin: 0;
  padding: 10px;
}
.contentHead-content > ul > li {
  text-align: justify;
  font-weight: 500;
  list-style: none;
  margin-top: 10px;
}
.contentHead-content > ul > li > a {
  color: var(--customColor1);
}
.contentHead-content > p > a {
  text-decoration: none;
  color: var(--customColor1);
}
.readMoreBtn {
  background: var(--customColor1);
  border: none;
  padding: 8px 16px;
  margin-top: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s ease;
}

.readMoreBtn:hover {
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .contentHead {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .contentHead-content > h1 {
    font-size: 30px; /* Responsive font size */
  }
  .contentHead-content > h2 {
    font-size: 25px; /* Responsive font size */
  }
  .contentHead-content > h3 {
    font-size: 20px; /* Responsive font size */
    margin-top: 20px;
  }
}
.content-table-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
}
.content-table-heading {
  width: 100%;
}
.content-table-heading > h2 {
  font-size: 30px;
  color: var(--customColor1);
  text-align: start;
  font-weight: normal;
  margin-bottom: 10px;
}
.content-table-heading > h3 {
  font-size: 25px;
  color: var(--customColor1);
  text-align: start;
  font-weight: normal;
  margin-bottom: 10px;
}
.content-table {
  width: fit-content;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.content-table th,
.content-table td {
  padding: 14px 20px;
  text-align: left;
  border-left: 1px solid #e5e7eb;
}

.content-table thead {
  background: white;
  color: var(--customColor1);
  border-bottom: 1px solid #e5e7eb;
}

.content-table tbody tr {
  border-bottom: 1px solid #e5e7eb;
}

.content-table tbody tr:last-child {
  border-bottom: none;
}

.content-table tbody tr:hover {
  background-color: #f1f5ff;
}

.content-table td {
  color: #374151;
  font-weight: 500;
}
.content-table-container > p {
  padding: 20px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .content-table-heading > h2 {
    font-size: 25px; /* Responsive font size */
  }
  .content-table-heading > h3 {
    font-size: 20px;
  }
  .content-table-container {
    padding: 10px;
    overflow-x: scroll;
  }
}
/* -------------------------------------------------------------------------- */

.usp-section {
  margin: 50px 0;
}

.usp-heading {
  font-size: 36px;
  margin-bottom: 25px;
  text-align: center;
}

.usp-column {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 800px;
  margin: 0 auto;
}

.usp-card {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 18px 22px;
  background: #fef2f2;
  border-left: 6px solid var(--customColor1);
  border-radius: 12px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.usp-card:hover {
  transform: translateX(6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.usp-icon {
  font-size: 1.2rem;
  color: #16a34a;
  flex-shrink: 0;
}

.usp-card p {
  margin: 0;
  font-size: 1rem;
  color: #111827;
  font-weight: 500;
}
.highlight-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
  /* border: solid red; */
  width: 100%;
}
.highlight-card:nth-child(1) {
  border-left: 6px solid var(--customColor1);
}
.highlight-card:nth-child(2) {
  border-left: 6px solid var(--customColor1);
}
.highlight-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.304);
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.highlight-card h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: var(--customColor1);
  font-weight: bold;
}

.highlight-card ul {
  padding-left: 18px;
  margin-bottom: 10px;
}

.highlight-card li {
  margin-bottom: 6px;
  font-size: 18px;
  list-style: none;
  text-align: start;
}

.highlight-card .note {
  font-size: 18px;
}

.highlight-card p {
  font-size: 18px;
  text-align: justify;
}

.locations {
  font-weight: 500;
  color: #111827;
}

.highlight-text {
  font-weight: 700;
  color: #16a34a;
  margin-top: 8px;
}
@media screen and (max-width: 768px) {
  .usp-heading {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .highlight-section {
    flex-wrap: wrap;
  }
  .highlight-card {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 400px;
  }
}
.usp-section {
  margin: 50px 0;
  padding: 20px;
}

.usp-heading {
  font-size: 40px;
  color: var(--textColor2);
  margin-bottom: 25px;
  text-align: center;
}

.usp-column {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 800px;
  margin: 0 auto;
}

.usp-card {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 18px 22px;
  background: white;
  border-left: 6px solid var(--customColor1);
  border-radius: 12px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.usp-card:hover {
  transform: translateX(6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.usp-icon {
  font-size: 1.2rem;
  color: #16a34a;
  flex-shrink: 0;
}

.usp-card p {
  margin: 0;
  font-size: 1rem;
  color: #111827;
  font-weight: 500;
}
@media screen and (max-width:768px) {
  .usp-heading {
  font-size: 30px;
  color: var(--textColor2);
  margin-bottom: 25px;
  text-align: center;
}
}
