.homeCounter-container {
  /* border: solid red; */
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: var(--customBg);
}
.homeCounter-head > h2 {
  font-size: 36px;
  text-align: center;
}
.homeCounter-container > ul {
  /* border: solid green; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.homeCounter-container > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.countNo {
  font-size: 4rem;
  color: var(--customColor1);
  font-weight: bold;
}
.homeCounter-content > b {
  font-size: 20px;
  color: rgb(83, 83, 83);
  font-weight: lighter;
}
@media screen and (max-width: 768px) {
  .homeCounter-container > ul {
    /* border: solid green; */
    flex-direction: column;
    gap: 30px;
  }
  .countNo {
    font-size: 40px;
    color: var(--customColor1);
    font-weight: bold;
  }
}
